<DL>
{{ $formats := .Site.GetPage "/formats" }}
{{ range $formats.Resources }}
  <DT>
  {{- range $i, $p := .Params.params -}}
    {{- if $i -}}, {{ end -}}
    <A NAME="d:{{$p}}" HREF="#a:{{$p}}"><STRONG>{{$p}}</STRONG></A>
  {{- end -}}
  </DT>
  <DD>
  {{- .Content }}
  </DD>
{{ end }}
</DL>
